/* Scrollbars for Firefox */
.scrollbars {
  scrollbar-color: #555 #222 !important;
  scrollbar-width: thin !important;
}

/* Reduce h1 font size so logo doesn't wrap in Edge */
h1 {
  font-size: 3em;
}

/* Scrollbars for Chrome */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #222;
  border: thin solid 111;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border: thin solid #555;
  border-radius: 10px;
}

/* feed item component */

.feedItem {
  margin-left: 0.5em;
  padding: 1em 1em 0em 1em;
}

.feedItemHeading {
  display: flex;
  justify-content: space-between;
}

.feedItemPreview {
  margin-top: 0;
  height: 75px;
}

.feedImageContainer {
  height: 300px;
}

.feedImage {
  max-height: 100%;
  max-width: 100%;
}

/* feed item component end */
