.header {
}

/* feed item component */

.feedItem {
  margin-left: .5em;
  padding: 1em 1em 0em 1em;
}

.feedItemHeading {
	display: flex;
	justify-content: space-between;
}

.feedItemOptions button {
	width: 40px;
	height: 40px;
}

.feedItemPreview {
    margin-top: 0;
    height: 175px;
}

.hamburger {
    background: url(./options.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.feedImageContainer {
  height: 300px;  
}

.feedImage {
  max-height: 100%;
  max-width: 100%;
}

/* feed item component end */

/* suggested feed modal */

.suggestedFeedsModalContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-x: auto;
}

.suggestedFeedsModalItem {
  margin: 5px;
  min-width: 200px;
  cursor: pointer;
}

/* suggested feed modal end */

/* options modal */

.OptionsModalOptions {
  display: grid;
}

.OptionsModalOptions input {
  margin-right: 5px;
}

/* option modal end */